* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6495ed;
  text-align: center;
}

.app-title {
  text-align: center;
  margin: 20px auto;
  color: #fff;
  font-size: 24px;
}

form .todo-input {
  border: none;
  font-size: 20px;
  padding: 5px 12px;
}


form button {
  background-color: #ef3038;
  cursor: pointer;
}

form .todo-input, form button {
  outline: none;
}

form button i {
  color: #fff;
  font-size: 20px;
}

.todo-box {
  margin-top: 50px;
}

.todo-list {
  list-style: none;
}

.todo-item {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 5px 0px;
  font-size: 20px;
  margin-bottom: 5px;
}

.completed-todo {
  text-decoration: line-through;
  opacity: 0.7;
}

.todo-list-actions {
  float: right;
}

.todo-list-actions .todo-action-btn {
  font-size: 20px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}

.todo-list-actions .checked-btn {
  background-color: #32cd32;
}
.todo-list-actions .delete-btn {
  background-color: #ff0000;
}